.row{
    margin: 0px;
}

h1{
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
}

svg{
    display: block;
    border-radius: 25px;
    border: 0px solid #FFFFFF;
    padding: 0px;
    background-color: #3f5277;
}
select{
    margin-left: 50px;
}
.dot {
    fill: #a0b2cc;
    stroke: #3f5277;
    stroke-width: 4px;
}

.line{
    stroke:darkred;
    stroke-width: 1.5;
    fill:none;
}

.temperature{
    background-color: #3f5277;
}

.axis_color{
    /*stroke:#78bfe7;*/
    fill: transparent;
    color: #78bfe7;
    font-size: 14px;
}

.axis_Text{
    font-size: 20px;
    fill: #ffffff;
}

.arc{
    fill: #61dafb;
    z-index: 2;
}

.arc-shape{
    stroke: white;
    fill: transparent;
    z-index: -1;
}

#lineGraph{
    padding: 25px;
}

#barGraph{
    padding: 25px;
}


