.menu {
    position: fixed;
    left: 0;
    width: 80px;
    height: 100%;
    flex-direction: column;
    user-select: none;
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.menuList {
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;
    min-height: 40%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.menuList li {
    display: block;
    cursor: pointer;
    height: 55px;
    width: 55px;
    opacity: 0.8;
    margin: 10px 0;

}

li.activeEntry {
    border-radius: 50%;
    background: #3b72ff;
    opacity: 1;
}

.activeEntry .modeImg {
    filter: brightness(400%);
}

.modeImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

@media (max-width: 500px) {
    .menu {
        bottom: 0;
        height: 80px;
        width: 100%;
        flex-direction: row;
    }

    .menuList {
        height: 100%;
        width: auto;
        flex-direction: row;
    }

    .menuList li {
        display: inline-block;
        margin: 0 10px;
    }
}
