html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.App {
    position: absolute;
    width: 100%;
    /*background: #2d323c;*/
    background: #fff;
    height: 100%;
}

#content {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
}

header {
    margin-top: 40px;
    font-size: 8vw;
    text-align: center;
    color: #707070;
}

@media screen and (min-width: 600px) {
    header {
        font-size: 40px;
    }
}

@media (max-height: 500px) and (min-width: 600px) {
    #content {
        left: 80px;
        bottom: 0;
    }
    header {
        font-size: 30px;
    }
}

.vis {
    margin: 20px auto 0 auto;
    width: 90%;
    overflow: hidden;
}

.svgContainer {
    width: 100%;
    height: 250px;
}

.tick {
    color: #599efa;
}

.yAxis .tick {
    color: #b8d4ff;
}

.tick text {
    font-size: 16px;
    color: #707070;
    user-select: none;
    text-align: center;
}

.xAxis text {
    font-weight: bold;
}

.yLabel {
    fill: #707070;
    font-size: 18px;
    user-select: none;
}

.dot {
    fill: #bababa;
}

.dotSelected {
    fill: #599efa;
}

.graphValue {
    font-size: 18px;
    font-weight: bold;
    color: #599efa;
    border: 1px solid #599efa;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
