html, body {
    width: 100%;
    height: 100%;
}

.App {
    position: absolute;
    width: 100%;
    /*background: #2d323c;*/
    background: #fcfcfc;
    height: 100%;
}

#content {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 80px;
    right: 0;
    bottom: 0;
}

@media (max-width: 500px) {
    #content {
        left: 0;
        bottom: 80px;
    }
}

.vis {
    position: relative;
    height: 50vh;
    min-height: 350px;
    padding:  30px;
}

.vis h4 {
    color: #b4bac4;
    text-align: center;
}

.svgContainer {
    position: absolute;
    top: 100px;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.tick {
    color: #757575;
    font-size: 16px;
}

.tick text {
    color: #8c8c8c;
}

.domain {
    color: #c6c6c6;
}

.dot {
    fill: #8298bc;
    opacity: 0.4;
}

.line {
    stroke: #8298bc;
    stroke-width: 2;
    fill: none;
}