html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.App {
    position: absolute;
    width: 100%;
    /*background: #2d323c;*/
    background: #fcfcfc;
    height: 100%;
}

#content {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 80px;
    right: 0;
    bottom: 0;
}

@media (max-width: 500px) {
    #content {
        left: 0;
        bottom: 80px;
    }
}

.vis {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-height: 350px;
}

.vis p {
    color: #8d8d8d;
    font-size: 22px;
    text-align: center;
}

.svgContainer {
    height: 250px;
}

.tick {
    color: #757575;
    fill: #a4c5ff;
}

.tick text {
    font-size: 16px;
    color: #8c8c8c;
    user-select: none;
    text-align: center;
}

.domain {
    color: #c6c6c6;
}

.dot {
    fill: rgba(66, 89, 159, 0.7);
}

.dotSelected {
    fill: #a2acd7;
}

#tooltip {
    position: absolute;
    background: #42599f;
    z-index: 100;
    border-radius: 5px;
    padding: 10px;
    display: none;
    font-size: 16px;
    color: white;
}
