/* GENERAL ======================================= */

.light-border {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.space-l-20 {
  padding-left: 20px;
}

.space-l-60 {
  padding-left: 60px !important;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

/* ============================================================ */

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2b3137;
}

#content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 80px;
  overflow-y: auto;
  overflow-x: hidden;
}

#wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

#section1 {
  margin: 0 20px 0 40px;
}

#logoBar {
  margin-top: 20px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  width: 150px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../icons/logo.svg");
  background-size: contain;
  background-position: center;
}

.timeBar-items {
  display: flex;
  justify-content: flex-start;
}

.timeBar-item-label {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
  font-size: 0.8rem;
}

/* TOP BAR ======================================= */

.bar {
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
}

/* DATE-SELECTION BUTTON ======================================= */

.dateSelect {
  position: relative;
}

.dateSelect-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.dateSelect-button {
  width: 200px;
  margin: 10px;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  z-index: 100;
}

.dateSelect span {
  white-space: nowrap;
  text-align: center;
  user-select: none;
  color: white;
  margin-right: 10px;
}

.triangle {
  width: 0;
  height: 0;
  margin-left: auto;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
}

/* CALENDAR COMPONENT ======================================= */

.react-calendar {
  position: absolute;
  top: 60px;
  min-width: 340px !important;
  z-index: 100;
  padding: 20px;
  margin-left: 10px;
  border-radius: 10px;
  background: #363d43 !important;
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
  animation: calendar-slidein 0.2s ease-out;
  animation-fill-mode: forwards;
  box-shadow: 0 0 100px -50px rgba(0, 0, 0, 0.8);
  color: #d4d4d4;
}

@keyframes calendar-slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.react-calendar__navigation * {
  color: inherit;
}

.react-calendar__navigation *:hover {
  background: inherit !important;
}

.react-calendar__tile {
  color: #949494;
}

.react-calendar__month-view__days__day--weekend {
  color: #e76a6a !important;
}

.react-calendar__month-view__days__day--weekend.react-calendar__tile--active {
  color: #e76a6a !important;
}

.react-calendar__tile--active {
  background-color: rgba(255, 255, 255, 0.08) !important;
  color: #d0d0d0 !important;
}

.react-calendar__tile--now {
  background: #b6d274 !important;
}

.react-calendar__tile--hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.react-calendar__tile--hover.react-calendar__tile--now {
  background: #b6d274 !important;
}

/* TIME-RANGE COMPONENT ======================================= */

.react-timerange-picker * {
  color: white;
}

.react-timerange-picker__range-divider {
  display: none;
}

.react-timerange-picker__clear-button__icon {
  stroke: white;
  transition: stroke 0.1s;
}

.react-timerange-picker__wrapper {
  width: 200px;
  height: 40px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
}

/* DATA VIEW WRAPPER ======================================= */

.dataView-wrapper {
  width: 100%;
}

/* INFO AREA AND CARDS ======================================= */

.infoArea {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  font-size: 14px;
  font-size: min(14px, 4vw);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: -1;
}

.infoCard {
  flex-basis: 250px;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  margin: 10px;
}

.infoCard-2 {
  flex-basis: 150px;
}

.infoCard table {
  width: 100%;
}

.infoCard span {
  display: block;
}

.infoCard-header {
  font-size: 0.9em;
  color: #6d7072;
}

.infoCard-value {
  color: #ababab;
  white-space: nowrap;
}

.infoCard-value-big {
  text-align: center;
  color: white;
  font-size: 1.8em;
}

.infoCard-value-big td {
  padding-top: 10px;
}

@media (max-height: 500px) and (min-width: 600px) {
  #content {
    bottom: 0;
    left: 80px;
  }
}

@media (max-width: 600px) {
  .timeBar-items {
    align-items: flex-start;
    flex-direction: column;
  }
  #timeBar {
    display: flex;
    justify-content: center;
  }
  #logoBar {
    justify-content: center;
  }
  .react-calendar {
    margin-left: -60px;
  }
}