.app {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2b3137;
}

#content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 80px;
  overflow-y: auto;
  overflow-x: hidden;
}

#wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-height: 500px) and (min-width: 600px) {
  #content {
    bottom: 0;
    left: 80px;
  }
}

.vis {
  width: 100%;
  padding: 10px 20px;
}

#logoBar {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 200px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../icons/sensortree_logo.png");
  background-size: contain;
}

.infoArea {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.infoBox {
  font-size: 14px;
  width: fit-content;
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 20px;
  text-align: left;
  margin: 10px;
}

.infoBox table {
  width: 100%;
}

.infoBox span {
  display: block;
}

.info-header {
  color: #6d7072;
}

.info-value {
  color: #ababab;
}

.info-big {
  text-align: center;
  color: white;
  font-size: 30px;
}

.info-big td {
  padding-top: 10px;
}

.space-l-20 {
  padding-left: 20px;
}

.text-center {
  text-align: center;
}

hr {
  position: static;
  width: 40%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
}
