/* GENERAL ======================================= */

.light-border {
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.space-l-20 {
  padding-left: 20px;
}

.space-l-60 {
  padding-left: 60px !important;
}

.text-center {
  text-align: center;
}

/* ============================================================ */

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2b3137;
}

#content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 80px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-height: 500px) and (min-width: 600px) {
  #content {
    bottom: 0;
    left: 80px;
  }
}

#wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#logoBar {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 200px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url("../icons/logo.svg");
  background-size: contain;
}

#timeSelect {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* DATE-SELECTION BUTTON ======================================= */

.dateSelect {
  width: fit-content;
  width: -moz-fit-content;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 10px;
  border-radius: 5px;
  background: rgba(207, 236, 255, 0.1);
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  z-index: 100;
}

.dateSelect:hover {
  background: rgba(255, 255, 255, 0.05);
}

.dateSelect span {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  user-select: none;
  color: white;
}

.triangle {
  width: 0;
  height: 0;
  margin-left: 10px;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
}

/* CALENDAR COMPONENT ======================================= */

.react-calendar {
  position: absolute;
  transform: translate(-40%, 8%);
  transform-origin: top;
  margin: 20px auto 0 auto;
  width: 300px !important;
  z-index: 50;
  padding: 20px;
  border-radius: 10px;
  background: #363d43 !important;
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
  animation: calendar-slidein 0.1s ease-out;
  animation-fill-mode: forwards;
  box-shadow: 0 0 100px -50px rgba(0, 0, 0, 0.8);
  color: #d4d4d4;
}

.react-calendar__navigation * {
  color: inherit;
}

.react-calendar__navigation *:hover {
  background: inherit !important;
}

.react-calendar__tile {
  color: #949494;
}

.react-calendar__month-view__days__day--weekend {
  color: #e76a6a !important;
}

.react-calendar__month-view__days__day--weekend.react-calendar__tile--active {
  color: #e76a6a !important;
}

.react-calendar__tile--active {
  background-color: rgba(255, 255, 255, 0.08) !important;
  color: #d0d0d0 !important;
}

.react-calendar__tile--now {
  background: #b6d274 !important;
  color: rgb(61, 69, 76) !important;
}

.react-calendar__tile--now:hover {
  color: rgb(255, 255, 255) !important;
}

.react-calendar__tile--hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

@keyframes calendar-slidein {
  from {
    opacity: 0;
    transform: translate(0, 8%) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translate(0, 8%) scale(1);
  }
}

/* TIME-RANGE COMPONENT ======================================= */

.react-timerange-picker * {
  color: white;
}

.react-timerange-picker__range-divider {
  display: none;
}

.react-timerange-picker__clear-button__icon {
  stroke: white;
  transition: stroke 0.1s;
}

.react-timerange-picker__wrapper {
  background: #363d43 !important;
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
  padding: 5px 0 5px 10px;
  border-radius: 5px;
}

/* DATA VIEW WRAPPER ======================================= */

.dataView-wrapper {
  width: 100%;
  padding: 10px 20px;
}

/* INFO AREA AND CARDS ======================================= */

.infoArea {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: -1;
}

.infoCard {
  font-size: 14px;
  width: 250px;
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 20px;
  text-align: left;
  margin: 10px;
  box-shadow: 0 5px 30px -20px rgba(0, 0, 0, 0.2);
}

.infoCard-dark {
  background: rgba(255, 255, 255, 0.03);
}

.infoCard table {
  width: 100%;
}

.infoCard span {
  display: block;
}

.infoCard-header {
  color: #6d7072;
}

.infoCard-value {
  color: #ababab;
}

.infoCard-value-big {
  text-align: center;
  color: white;
  font-size: 30px;
}

.infoCard-value-big td {
  padding-top: 10px;
}
