.svgContainer {
  width: 100%;
  height: 250px;
}

.tick {
  color: rgba(255, 255, 255, 0.05);
}

.xAxis text {
  font-weight: bold;
}

.tick text {
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
  user-select: none;
  text-align: center;
}

.yLabel {
  fill: #fff;
  fill-opacity: 0.4;
  font-size: 18px;
  user-select: none;
}

.dot {
  /*fill: #5e666e;*/
  fill: #646f7a;
}

.dotSelected {
  fill: #c5e773;
}

.domain {
  stroke: #fff;
  opacity: 0.1;
}

.dataError {
  width: 100%;
  height: 100%;
  padding: 0 10% 0 10%;
  font-size: 14px;
}

.dataError p {
  color: white;
}

.center {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
